.loveshalu{
    width: 60%;
    height: 450px;
    background-color: seashell;
    border: 3px solid black;
    color:red;
    font-size: 50px;
    
}
body{
    background-image: url(https://cdn4.vectorstock.com/i/thumb-large/73/83/crazy-scary-brush-stroke-smile-with-glitch-effect-vector-27157383.jpg);
    
}

h1{
    color:red;
}