.parent {
    border: 2px solid black;
   
}

.childs {
   
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    width: 185px;
    height: 60px;
}

.childs:hover{
    background-color: honeydew;
    color: red;
}